USE [master]
GO
/****** Object:  Database [AcademyNet7]    Script Date: 24/04/2025 17:35:38 ******/
CREATE DATABASE [AcademyNet7]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AcademyNet7', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS03\MSSQL\DATA\AcademyNet7.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AcademyNet7_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS03\MSSQL\DATA\AcademyNet7_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AcademyNet7].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AcademyNet7]
GO
/****** Object:  Table [dbo].[WeekWork]    Script Date: 24/04/2025 17:35:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WeekWork](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EnrollmentFather] [nchar](4) NOT NULL,
	[WorkDate] [date] NOT NULL,
	[Activity] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[GetDayActivities]    Script Date: 24/04/2025 17:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Claudio
-- Create date: 31.03.2025
-- Description:	SelezionaGiornate
-- =============================================
CREATE FUNCTION [dbo].[GetDayActivities] 
(	
	-- Add the parameters for the function here
	@Activity nvarchar(30)
	
)
RETURNS TABLE 
AS
RETURN 
(
	-- Add the SELECT statement with parameter references here
	SELECT * FROM WeekWork 
	WHERE Activity LIKE '%' + @Activity + '%'
)
GO
/****** Object:  Table [dbo].[Worker]    Script Date: 24/04/2025 17:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Worker](
	[Enrollement] [nchar](4) NOT NULL,
	[FullName] [nvarchar](35) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[Department] [nvarchar](50) NOT NULL,
	[Age] [smallint] NULL,
	[Address] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[Province] [nvarchar](50) NULL,
	[CAP] [nchar](5) NULL,
	[Phone] [nvarchar](50) NULL,
 CONSTRAINT [PK_Worker] PRIMARY KEY CLUSTERED 
(
	[Enrollement] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[viewWorkerHistory]    Script Date: 24/04/2025 17:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[viewWorkerHistory]
AS
SELECT dbo.Worker.FullName, dbo.Worker.Role, dbo.Worker.Department, dbo.Worker.Age, dbo.Worker.Enrollement, dbo.WeekWork.Id, dbo.WeekWork.WorkDate, dbo.WeekWork.Activity
FROM     dbo.WeekWork INNER JOIN
                  dbo.Worker ON dbo.WeekWork.EnrollmentFather = dbo.Worker.Enrollement
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 24/04/2025 17:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Enrollment] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[Department] [nvarchar](50) NOT NULL,
	[Age] [tinyint] NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[Province] [nvarchar](50) NOT NULL,
	[Cap] [smallint] NOT NULL,
	[Phone] [int] NOT NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[Enrollment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WeekWork]  WITH CHECK ADD  CONSTRAINT [FK_WeekWork_Worker] FOREIGN KEY([EnrollmentFather])
REFERENCES [dbo].[Worker] ([Enrollement])
GO
ALTER TABLE [dbo].[WeekWork] CHECK CONSTRAINT [FK_WeekWork_Worker]
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateWorker]    Script Date: 24/04/2025 17:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_CreateWorker] (
    @Enrollement NVARCHAR(4), 
    @FullName NVARCHAR(35),
    @Role NVARCHAR(50),
    @Department NVARCHAR(50),
    @Age SMALLINT = NULL,
    @Address NVARCHAR(50) = NULL,
    @City NVARCHAR(50) = NULL,
    @Province NVARCHAR(50) = NULL,
    @CAP NVARCHAR(10) = NULL,
    @Phone NVARCHAR(30) = NULL,
	@Risultato NVARCHAR(200) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        INSERT INTO dbo.Worker (Enrollement, FullName, Role, Department, Age, Address, City, Province, CAP, Phone)
        VALUES (@Enrollement, @FullName, @Role, @Department, @Age, @Address, @City, @Province, @CAP, @Phone);

        SET @Risultato = 'Worker creato con successo.';
    END TRY
    BEGIN CATCH
        SET @Risultato = 'Errore durante la creazione del worker: ' + ERROR_MESSAGE();
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteWorker]    Script Date: 24/04/2025 17:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_DeleteWorker] (
    @Enrollement NVARCHAR(4),
    @Risultato NVARCHAR(200) OUTPUT -- Aggiungi questo parametro
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        DELETE FROM dbo.Worker
        WHERE Enrollement = @Enrollement;

        IF @@ROWCOUNT > 0
            SET @Risultato = 'Worker con Enrollement ' + @Enrollement + ' eliminato con successo.';
        ELSE
            SET @Risultato = 'Nessun worker trovato con Enrollement ' + @Enrollement + '.';
    END TRY
    BEGIN CATCH
        SET @Risultato = 'Errore durante l''eliminazione del worker: ' + ERROR_MESSAGE();
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateWorker]    Script Date: 24/04/2025 17:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_UpdateWorker] (
    @Enrollement NVARCHAR(4),
    @CampoDaAggiornare NVARCHAR(20),  -- Nuovo parametro per il campo da aggiornare
    @NuovoValore NVARCHAR(255),       -- Nuovo parametro per il nuovo valore
    @Risultato NVARCHAR(200) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @SQL NVARCHAR(MAX);

    -- Validazione del campo da aggiornare (importante per la sicurezza!)
    IF @CampoDaAggiornare IN ('Role', 'Department', 'Address', 'City', 'Province', 'CAP', 'Phone')
    BEGIN
        SET @SQL = N'UPDATE dbo.Worker SET ' + QUOTENAME(@CampoDaAggiornare) + ' = @NuovoValore WHERE Enrollement = @Enrollement;';

        BEGIN TRY
            EXEC sp_executesql @SQL,
                N'@Enrollement NVARCHAR(4), @NuovoValore NVARCHAR(255)',
                @Enrollement, @NuovoValore;

            SET @Risultato = 'Worker aggiornato: ' + @CampoDaAggiornare + '. Righe interessate: ' + CAST(@@ROWCOUNT AS NVARCHAR(10));
        END TRY
        BEGIN CATCH
            SET @Risultato = 'Errore durante l''aggiornamento di ' + @CampoDaAggiornare + ': ' + ERROR_MESSAGE();
        END CATCH
    END
    ELSE
    BEGIN
        SET @Risultato = 'Campo da aggiornare non valido.';
    END;
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "WeekWork"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 170
               Right = 256
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Worker"
            Begin Extent = 
               Top = 7
               Left = 304
               Bottom = 170
               Right = 498
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'viewWorkerHistory'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'viewWorkerHistory'
GO
USE [master]
GO
